*, *::before, *::after {
    box-sizing: border-box;
}

body, html, #root {
    height: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

body::backdrop {
    background-color: #fff;
}

body {
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    font-family: "Noto Sans KR","Helvetica","Arial",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
}

img, svg {
    vertical-align: middle;
}

[role=button] {
    cursor: pointer;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
    background: #222E3C;
}

.main {
    background: #fff;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
    width: 100%;
    min-width: 0;
}

.main.login {
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.form-field {
    text-align: center;
    margin-bottom: 13px;
}

.form-field:last-child {
    margin-bottom: 0;
}

.form-field input[type="password"] {
    letter-spacing: 0.25em;
}

.login-textfield {
    width: 100%;
}

.sidebar-brand {
    padding: 1.15rem 1.5rem;
    display: block;
    height: 5.5rem;
}